body{
    margin: 0;
    font-family: 'Gelasio', serif; /* подключение шрифтов*/
}
.container{
    width: 1020px;
    margin: 0 auto;
        }


.line{
width: 100%;
height: 8px;
background: #a292b3;

}

.header{  /* border: 1px solid red;*/
    
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #545454;
}

.buttons{
display: flex;
align-items: center;
justify-content: space-between;
width: 600px;
cursor: pointer;

}

.buttons-item{

display: flex;
align-items: center;


}

.button-img{
margin-right: 10px;

}

.slider{
    
    height: 485px;
        /*border: 1px solid red;*/

    background: url('../images/banner.jpg'); /* фото вместо фонового цвета*/
    background-repeat: no-repeat; /* не замостить картинку- не повторять маленькую в большом фоне*/
    background-position: center; /* замостить по центру*/
    background-size: cover; /*заполнить*/
    position: relative;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size:20px;

}



.slider-button{
width:35px ;
height: 65px;
background:  #a292b3;
cursor: pointer;
display: flex;
align-items: center;
justify-content: center;
position: absolute;

top: calc(50% - 32.5px);

}

.button-right{
    right:  0;
    
    }

.button-left{
        rotate: (180deg);
        left: 0;
    }


    .slider-title{
        font-size: 84px ;

        margin-bottom: 22px;
        text-shadow:  -3px -3px 0 rgba(162, 146, 179, 0.7) ;
    }

.text{

border-top: 1px solid #bfbfbf;
border-bottom: 1px solid #bfbfbf;
padding: 19px 57px;
text-align: center;
margin-top: 40px;
box-sizing: border-box;
font-size: 18px;
line-height: 30px; /* межстрочн интервал*/
font-style: italic;
    }

    .text-pourple{
        color: #82699d;
    }

  .info{
      display: flex;
      margin-top: 32px;

  }
  .info-text{
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 40px;
    box-sizing: border-box;
align-items: flex-start;
position: relative;


  }

  .info-title{
font-weight: bold;
font-size: 22px;
margin-bottom: 33px;

  }

  .info-desc{
      font-size: 11px;  
  }

  .info-more{ 
    font-size: 11px;  
    position: absolute; 
width: 90px;
height: 15px;
cursor: pointer;
right: 0;
bottom: 20px;
  }

  .info-more::after{ /* использ псевдоэлемента*/
content: '\27A0'; /* без него не работает псевдокод */
font-size: 20px;
position: absolute; /*от родительской отсчёт*/
right: 7px;
top: -5px;
font-size: 20px;


  }
  .Featured{
font-size: 18px;
margin: 55px 0;
  }

  .clients{
      background: #f5f5f5;
      display: flex;
  }

  .client-item{
width: 25%;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
border: 1px solid #e4e4e4;
border-right: none;
box-sizing: border-box;

  }
  

  .client-item:last-child{ /* применило настройки к последнему элементу*/
      border: 1px solid #e4e4e4
  }